<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">



<head>
    <title>Dashboard</title>
</head>
<body>
<!--
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>${bucketList}</h2>
    <label for="inputTitle" class="sr-only">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" required="" />
    <label for="inputDetail" class="sr-only">Detail</label>
    <input type="text" name="detail" id="inputDetail" class="form-control" placeholder="Detail" required="" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">쓰기</button>


</div>!-->
<div layout:fragment="content">
    <h1>버킷리스트</h1>

    <style type="text/css">
        a:link { color: indianred; text-decoration: none;}
        a:visited { color: indianred; text-decoration: none;}
        a:hover { color: indianred; text-decoration: none;}
    </style>

    <tr th:each="bucket : ${bucketList}" href="/detail?id=${bucket.idx}" >
            <a th:href="${'/dashboard/'+bucket.idx}"/>
            <td th:text="${bucket.idx}"></td>
            <td th:text="${bucket.title}"></td>
            <td th:text="${bucket.detail}"></td>
            <a/>
            <br>
        </tr>
    <form class="form-signin" action="/list" method="post">
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" required="" />
        <label for="inputDetail" class="sr-only">Detail</label>
        <input type="text" name="detail" id="inputDetail" class="form-control" placeholder="Detail" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">쓰기</button>
    </form>

</div>
</body>
</html>